<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"layouts>

<head th:include="/layouts/fragments/scripts :: head" />

<style>
div {
	background-color: white;
}
</style>

<body class="hold-transition login-page">
	<div class="login-box">



		<!-- /.login-logo -->
		<div class="login-box-body">
            <img th:src="@{/img/canoasLogo.jpg}" style="width: 80%"/>
			<p class="login-box-msg" th:text="#{login.info}"></p>

			<form name="f" th:action="@{/login}" method="post"
				class="form-signin">

				<div th:if="${param.error}" class="alert alert-danger"
					th:text="#{login.error}"></div>

				<div th:if="${param.logout}" class="alert alert-success"
					th:text="#{login.disconnect}"></div>

				<div class="form-group has-feedback">
					<input type="text" id="username" name="username"
						class="form-control" th:placeholder="#{login.user}"
						required="true" /> <span
						class="glyphicon glyphicon-user form-control-feedback"></span>
				</div>

				<div class="form-group has-feedback">
					<input type="password" id="password" name="password"
						class="form-control" th:placeholder="#{login.password}"
						required="true" /> <span
						class="glyphicon glyphicon-lock form-control-feedback"></span>
				</div>

				<div class="row">
					<div class="col-xs-8"></div>

					<!-- /.col -->
					<div class="col-xs-4">
						<button type="submit" class="btn btn-primary btn-block btn-flat"
							th:text="#{login.enter}"></button>
					</div>

					<!-- /.col -->
				</div>
			</form>

			<!-- /.social-auth-links -->
		</div>

		<!-- /.login-box-body -->
	</div>

	<!-- /.login-box -->
	<div th:include="/layouts/fragments/scripts :: javascripts" />



</body>

</html>
