.contact-block {
	width: 100%;
	height: auto;
	line-height: 17px;
	position: relative;
}

.contact-long {
	color:#3c8dbc;
	display: inline;
	word-wrap: break-word;
	white-space: pre-wrap;
}

.contact-hidden{
	display: none;
}

.student-list-header {
	width: auto;
	color: #007dac;
	font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
  	white-space: normal !important;
}
